body {
    padding: 0;
    margin: 0;
    background: #757575;
    background-image: url("../public/Assets/pic.jpg");
    background-repeat: no-repeat;
    height: max-content;
    background-size: cover;
    font-family: 'roboto', 'Arial';
}

.container {
    max-width: 1080px;
    margin: 20px auto;
}